version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: inotebook-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: inotebook-backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/inotebook
    restart: always

  frontend:
    build: ./frontend
    container_name: inotebook-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
